kafka:
  bootstrap-servers: localhost:9092
  properties:
    schema.registry.url: http://localhost:8081
  producer:
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
    properties:
      interceptor.classes: io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor